<app-navbarinex></app-navbarinex>
<section id="pantalla-dividida" class="pantalla-dividida">
    <div class="izquierda">
        <div class="texto">
            <img src="/assets/img/logo1t.png" width="400" height="400"alt="">
            
         
        </div>
    </div>
    <div class="form">
         <form action="#" method="POST">
			<h1>Ingresa o Registrate</h1>
                
				<input type="text" name="email" class="Email" placeholder="Email">
				<input type="password" name="password" class="Address" placeholder="Contraseña">
                <button type="submit" value="Add" name="submit">Ingresar</button>
                <button type="submit" value="Add2" name="submit">Registrarse</button>
            </form>
        </div>
</section>
<footer-cmp></footer-cmp>
 
